<div id="sidebar-sec" class="sidebar">

    <div class="sidebar-sec-top"></div>

    <div class="sidebar-module">

        <div class="widget">
            <header>
                <div class="pull-left" style="text-align: justify; padding: 5px;">
                    <h2 style="margin: 0;" id="newsCPtitle"></h2>
                </div>
            </header>
            <div>
                <div class="inner-padding" style="text-align: justify; padding: 5px;" id="newsCPdescription">
                </div>
            </div>
        </div>

    </div>

</div>