<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include includes/head.ejs %>

</head>
<body>
<div id="container" class="clearfix">

    <% include includes/left.ejs %>

    <% include includes/right.ejs %>

    <div id="main" class="clearfix">

        <% include includes/header.ejs %>

        <div id="content" class="clearfix">

            <header id="header-sec">
                <div class="inner-padding">
                    <div class="pull-left">
                        <h2>
                            Настройки
                        </h2>
                    </div>
                </div>
            </header>

            <div class="window">
                <div class="actionbar">
                    <div class="pull-left">
                        <a href="#" class="btn" data-toggle-sidebar="left">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a href="/<%- config.urls.admin %>/main" class="btn">
                            Основные настройки сайта
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn" data-toggle-sidebar="right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div class="inner-padding">

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Протокол</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="inline-labels">
                                <label>
                                    <input name="config.protocol" value="http://" <% if (config.protocol == 'http://') { %> checked="" <% } %> type="radio"><span></span> http
                                </label>
                                <label>
                                    <input name="config.protocol" value="https://" <% if (config.protocol == 'https://') { %> checked="" <% } %> type="radio"><span></span> https
                                </label>
                            </div>
                            <div class="helper-text-box">
                                <div class="form-helper-header">Протокол сайта</div>
                                <p>
                                    Укажите какой протокол сайта является приоритетным.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Домен</label>
                        </div>
                        <div class="col-sm-9">
                            <input name="config.domain" value="<%- config.domain %>" class="form-control input_url" type="text">
                            <div class="helper-text-box">
                                <div class="form-helper-header">Доменное имя сайта</div>
                                <p>
                                    Используйте только латинские символы, цифры, тире и точку.
                                </p>
                                <div class="section-helper-footer">
                                    Например: <code>domain.com</code> <code>my-kino.ru</code> <code>movie.net</code>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Почта</label>
                        </div>
                        <div class="col-sm-9">
                            <input name="config.email" value="<%- config.email %>" class="form-control" type="text">
                            <div class="helper-text-box">
                                <div class="form-helper-header">Почта для связи</div>
                                <p>
                                    Этот электронный адрес будет использоваться на сайте для связи с администратором.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-10"></div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Тема</label>
                        </div>
                        <div class="col-sm-9">
                            <input name="config.theme" value="<%- config.theme %>" class="form-control input_url" type="text">
                            <div class="helper-text-box">
                                <div class="form-helper-header">Шаблон оформления сайта</div>
                                <p>
                                    Введите название темы оформления, папка с одноименным названием должна лежать в папке <code>/themes</code>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <% include includes/footer.ejs %>

        </div>
    </div>
</div>

</body>
</html>