<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                   <!--<![endif]-->
<head>

    <% include admin/includes/head.ejs %>

    <style>
        html{height:100%;min-height:100%;margin:0;padding:0}body{position:relative;height:100%;min-height:100%;margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:20px}#error-container{height:100%;min-height:100%;width:100%;background-image: url("/themes/default/public/images/theme/dark/404.png");background-size:100% 100%;}#error-box{opacity:.8;height:100%;min-height:100%;width:380px;padding:60px 40px 40px}header h1{width:100%;float:left;font-size:80px;font-weight:700;line-height:80px;margin:5px 0}header h2{width:100%;float:left;font-size:16px;font-weight:400;margin:0}.error-content{float:left;width:100%;margin:30px 0}.breadcrumb{float:left;width:100%;margin:30px 0 0}.breadcrumb a:hover{text-decoration:underline}
    </style>

</head>
<body>
<div id="error-container" class="clearfix">
    <div id="error-box">
        <header>
            <h1><% if (status) { %><%- status %><% } %></h1>
            <h2>Ошибка</h2>
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li><a href="#[back]" onclick="window.history.back();">Назад</a></li>
            </ul>
        </header>
        <div class="error-content">
            <form action="/<% if (search) { %><%- search %><% } %>/title" method="get">
                <div class="input-group">
                    <input class="form-control" placeholder="Название фильма" type="text" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="fa fa-search"></span> Найти</button>
                </span>
                </div>
            </form>
        </div>
        <div class="error-content">
            <% if (message) { %><%- message %><% } %>
        </div>
    </div>

</div>
</body>
</html>